@charset "utf-8";

hr {
  border: none;
  clear: both;
}
.reset:after {
  content: "";
  display: block;
  clear: both;
}
.rectangle::after {
  content: "";
  display: block;
  padding-bottom: 70%;
}
.square {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.icon_arrow_text {
  transition: all 0.5s;
}
.icon_arrow_text.on {
  transform: rotate(180deg);
}
.relative {
  position: relative;
}

/* header */

header {
  position: fixed;
  width: 100%; /* position: fixed은 width 안주면 내용만큼 나타나서 줌 */
  top: 0;
  left: 0;
  z-index: 7;
}
header h6 {
  height: 2.3rem;
}
.header_scroll {
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
} /* 제이쿼리적용 */

/* header - nav */

nav {
  position: relative;
  height: 8rem;
}
nav:hover {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

nav > ul {
  height: 8rem;
} /* li에 height 주려면 ul에 height 있어야함 */
nav > ul > li {
  height: 8rem;
  padding: 0 3rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 8rem;
}
nav > ul > li a {
  color: #343434;
}
nav > ul > li:hover > a {
  color: #f98a8a;
}
nav > ul > li:hover .lnb {
  display: block;
}

/* header - .lnb */

.lnb {
  display: none;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  overflow: hidden;
  background: #ececec;
  font-size: 1.6rem;
}
.lnb-long {
  height: 41.5rem;
  line-height: 1.6rem;
}
.lnb ul {
  font-weight: 400;
}
.lnb-long .nav-img1 {
  width: 11rem;
  margin: 2rem 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
.lnb-long .nav-img1 img {
  width: 100%;
}
.lnb h1 {
  margin: 0 4rem;
  font-weight: 900;
}
.lnb li {
  margin: 0 4rem;
}
.lnb-long h1 {
  margin: 3rem 4rem;
}
.lnb-long li {
  margin: 2rem 4rem;
}
.lnb .nav-img2 {
  width: 300px;
  margin: 2rem 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
.lnb .nav-img2 img {
  width: 100%;
}
.lnb a:hover {
  color: #f98a8a;
}

/* header - search */

/* .search input {
  width: 15rem;
  margin-right: 1rem;
  line-height: 2rem;
  text-align: center;
  background: none;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #333;
} */
.search_icon {
  position: relative;
  width: 2.9rem;
  height: 2.9rem;
  margin-top: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
}
.search_icon p {
  position: absolute;
  display: block;
  transition: all 0.4s;
}
.search_icon p:nth-child(1) {
  width: 19px;
  height: 19px;
  top: 0;
  left: 0;
  border: 2px solid #333;
  border-radius: 50%;
  transform: rotate(-45deg) rotateY(0);
}
.search_icon p:nth-child(2) {
  width: 10px;
  height: 2px;
  bottom: 0;
  right: 4px;
  background: #333;
  transform: rotate(45deg);
}
.search_icon p:nth-child(1).on {
  border: 2px solid #fff;
}
.search_icon p:nth-child(2).on {
  background: #fff;
}

/* header - .login */

.login {
  display: block;
  position: relative;
  width: 23px;
  height: 23px;
  margin: 0 1.8rem 0;
  background: url(../images/icon_login_01.png) center;
  background-size: cover;
  transition: all 0.4s;
  z-index: 9;
}
.login.on {
  background: url(../images/icon_login_02.png) center;
  background-size: cover;
}

/* header - .menu_icon */

.menu_wrap {
  height: 6rem;
  padding: 0 7% 0;
}
.menu_icon {
  position: relative;
  width: 22px;
  height: 18px;
  margin-left: 0.5rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
}
.menu_icon p {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background: #333;
  transition: all 0.4s;
}
.menu_icon p:nth-child(1) {
  top: 0;
}
.menu_icon p:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu_icon p:nth-child(3) {
  top: 16px;
}
.menu_icon p:nth-child(1).on {
  width: 110%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background: #fff;
}
.menu_icon p:nth-child(2).on {
  transform: translateX(-30px);
}
.menu_icon p:nth-child(3).on {
  width: 110%;
  top: 50%;
  transform: translateY(50%) rotate(-45deg);
  background: #fff;
}

/* header - .menu */

.menu {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 0;
  right: -100%;
  transition: all 0.3s;
  text-align: center;
  color: #f98a8a;
  background: url(../images/menu_back.png) center;
  background-size: cover;
  z-index: 8;
}
.menu > ul {
  min-height: 100vh;
}
.menu_1,
.menu_2 {
  width: 50%;
  min-height: 100vh;
  padding: 25% 0 0 0;
}
.menu_1 {
  background: rgba(0, 0, 0, 0.5);
}
.menu_2 {
  background: rgba(0, 0, 0, 0.6);
}
.menu_1 .menu_main,
.menu_2 .menu_main {
  margin: 0 auto 5rem;
}
.menu h2 {
  padding-left: 1.7rem;
  font-size: 1.7rem;
  line-height: 4rem;
}
.menu .icon_arrow_text {
  font-size: 1.2rem;
}
.menu_sub {
  display: none;
}
.menu_main:nth-child(1) .menu_sub {
  display: block;
}
.menu_sub li {
  margin: 1rem 0;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #fff;
}
.menu.on {
  right: 0;
}

/* footer */

footer {
  text-align: center;
}
footer .top {
  height: 5rem;
  font-size: 1.3rem;
  background: #ececec;
  line-height: 5rem;
  cursor: pointer;
}
footer .text a {
  padding: 1rem;
  font-weight: bold;
  color: #777;
  line-height: 3rem;
  cursor: pointer;
}
footer .text a:hover {
  color: #333;
}
footer .icon-wrap {
  margin: auto 1rem;
}
footer .icon-wrap a {
  font-size: 2.4rem;
  margin: 1rem;
}
footer .bottom {
  margin: 2rem auto;
  padding-left: 2rem;
  line-height: 2rem;
}
footer .bottom h6 {
  height: 3rem;
  margin: 2rem 0;
}
footer .bottom ul {
  margin: 2rem 0;
  text-align: left;
}
footer .bottom .icon {
  display: inline-block;
  margin-bottom: 2rem;
}
.accordion-block_footer {
  display: none;
}

/* to-top */

#to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #313943;
  border-radius: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  opacity: 0;
  font-size: 1.3rem;
  z-index: 4;
}
#to-top:hover {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.5);
}
#to-top.show {
  opacity: 1;
}

/* more */

.more {
  display: block;
  width: 150px;
  height: 40px;
  margin: 50px auto;
  font-size: 20px;
  color: #777;
  line-height: 33px;
  text-align: center;
  border: 1px solid rgba(123, 123, 123, 0.3);
  border-radius: 50px;
  transition: all 0.3s;
}
.more p {
  display: inline-block;
  margin-left: 40px;
  transition: all 0.3s;
}
.more img {
  opacity: 0;
  width: 30px;
  transition: all 0.3s;
  vertical-align: middle;
}
.more:hover {
  border: 1px solid rgba(123, 123, 123, 1);
}
.more:hover p {
  margin-left: 0;
}
.more:hover img {
  opacity: 1;
}

/* icon */

.icon p {
  position: relative;
  margin-bottom: 0;
}
.icon img {
  width: 25px;
  height: 25px;
}
.icon img:nth-child(2) {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.icon:hover img:nth-child(1) {
  opacity: 0;
} /* 뒤에 색이 비춰보여서 0줌 */
.icon:hover img:nth-child(2) {
  opacity: 1;
}

@media (min-width: 576px) {
  /* header - menu */

  .menu h2 {
    font-size: 2rem;
    line-height: 5rem;
  }
  .menu .icon_arrow_text {
    font-size: 1.5rem;
  }
  .menu_sub li {
    margin: 2rem 0;
    font-size: 1.8rem;
    line-height: 4rem;
  }
}
@media (min-width: 768px) {
  /* footer */

  .accordion-block_footer {
    display: block;
  }
}
@media (min-width: 992px) {
  /* header - login */

  .login {
    margin: 0 0 0 3rem;
    
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
@media (min-width: 1500px) {
}
