@charset "utf-8";

/* mb-section */

.mb-section {
  margin-top: 0;
}
.mb-section div {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* best-section */

.best-section .swiper-slide a {
  display: inline-block;
}
.best-section .swiper-slide div {
  height: 25rem;
}
.best-section .swiper-slide img {
  height: 100%;
  padding-top: 2rem;
  transition: all 0.2s;
  transform-origin: right bottom;
}
.best-section .swiper-slide a:hover img {
  transform: rotate(10deg);
  transform-origin: right bottom;
}

/* .product */

.product {
  text-align: center;
}
.product .con {
  display: block;
  margin-bottom: 2rem;
}
.product .img {
  background: url(/images/cleansing_01.jpg) center;
  background-size: cover;
}
.product .text {
  margin-top: 2rem;
  font-size: 1.3rem;
}
.product .text li:nth-child(1) {
  font-size: 1.1rem;
}
.product .text li:nth-child(2) {
  font-weight: 600;
}
.product .text li:nth-child(3) {
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #999;
}
.product .text li:nth-child(4) {
  margin-bottom: 0;
}
.product .text li:nth-child(5) {
  font-weight: 600;
}
.product .text i {
  padding: 1px 5px;
  border-radius: 5px;
}
.product .text i.new {
  color: rgb(136, 173, 2);
  border: 1px solid rgb(136, 173, 2);
}
.product .text i.best {
  color: #f98a8a;
  border: 1px solid #f98a8a;
}
.product .text i.plus {
  color: #04a6d8;
  border: 1px solid #04a6d8;
}
.product .text i.price {
  color: #999;
  text-decoration: line-through;
}
.product .text i.sale {
  color: #f98a8a;
  font-weight: 900;
}

/* .line-section */

.line-section {
  position: relative;
}

/* .line-section .line_tabs */

.line_tabs {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 9rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.line_tab {
  width: 33.33%;
  height: 4rem;
  margin: 1rem 0 0;
  font-size: 1.5rem;
  color: #fff;
  background: #fff;
  text-shadow: 0 0 5px #000;
  text-align: center;
  border-radius: 2rem 2rem 0 0;
  line-height: 4rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s;
}
.line_tab:nth-child(1) {
  left: 0;
  background: url(../images/line_01.png) center;
  background-size: cover;
}
.line_tab:nth-child(2) {
  left: 33.33%;
  background: url(../images/line_02.png) center;
  background-size: cover;
}
.line_tab:nth-child(3) {
  left: 66.66%;
  background: url(../images/line_03.png) center;
  background-size: cover;
}
.line_tab:hover {
  opacity: 1;
}
.line_tab_current {
  margin-top: 0;
  height: 5rem;
  line-height: 5rem;
  opacity: 1;
}

/* .line-section .line_bn */

.line_bn {
  margin-top: 11rem;
}
.line_bn .bg {
  width: 100%;
}
.line_bn .bg:nth-child(1) {
  background: url(../images/line_01.png) center;
  background-size: cover;
}
.line_bn .bg:nth-child(2) {
  display: none;
  background: url(../images/line_02.png) center;
  background-size: cover;
}
.line_bn .bg:nth-child(3) {
  display: none;
  background: url(../images/line_03.png) center;
  background-size: cover;
}
.line_bn .content {
  padding: 3rem 0;
}
.line_bn .content > li {
  margin-bottom: 2rem;
}
.line_bn .content > li:nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
}
.line_bn .content > li:nth-child(2) {
  font-size: 1.3rem;
  line-height: 2rem;
}
.line_bn .more {
  margin: 0 auto 3rem;
}

/* .line-section .line_tab-content */

.line_tab-content {
  width: 100%;
  padding: 0.5rem;
  background: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.line_tab-content .swiper {
  padding: 0;
}
.line_tab-content .swiper-slide {
  padding: 0.5rem;
}
.line_tab-content a {
  display: inline-block;
}
.line_tab-content a:focus {
  outline: none;
} /* 드래그로 슬라이드할 때 outline 없애기 */
.line_tab-content a:hover .img_1 {
  opacity: 0;
}
.line_tab-content a:hover .img_2 {
  opacity: 1;
}
.line_tab-content .imgs {
  position: relative;
}
.line_tab-content .imgs div {
  transition: all 0.4s;
}
.line_tab-content .img_2 {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.line_tab-content img {
  width: 100%;
}

/* tv-section */

.tv-section .iframebox {
  position: relative;
  padding-bottom: 56.25%;
}
.tv-section .iframebox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tv-section .tv_small {
  margin-top: 0.5rem;
}
.tv-section .tv_poto {
  position: relative;
  width: 49.5%;
  overflow: hidden;
}
.tv-section .tv_poto > img {
  width: 100%;
}
.tv-section .tv_gif {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
.tv-section .tv_poto:hover .tv_gif {
  display: block;
}
.tv-section .tv_gif video {
  width: 100%;
}

/* sns-section */

.sns-section .swiper-wrapper.animated {
  transition: 0.5s ease-out;
}
.sns-section .swiper-slide .square {
  width: 100%;
}
.sns-section .swiper-slide {
  cursor: pointer;
}
.sns-section .swiper-slide .square {
  position: relative;
  background-size: 120%;
  transition: all 0.5s;
}
.sns-section .text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  border-radius: 0;
  background: #fff;
  transition: all 0.5s;
}
.sns-section .swiper-slide:hover .square {
  background-position: bottom center;
}
.sns-section .swiper-slide:hover .text {
  transform: translateY(0);
  border-radius: 50% 50% 0 0;
}
.sns-section .bar {
  width: 5rem;
  margin: 0 auto;
  padding: 1.5rem 0;
}
.sns-section .bar p {
  width: 5rem;
  height: 4px;
  margin-bottom: 0;
  background: #ddd;
  border-radius: 5rem;
}
.sns-section .text p {
  padding: 0 1rem;
  color: #999;
}

/* shopping_01_01.html */
/* cleansing-bn-sec */

.cleansing-bn-sec {
  width: 100%;
  height: 30rem;
  margin: 0;
  background: url(/images/cleansing_bn.jpg) center;
  background-size: cover;
}

/* cleansing-nav-sec */

.cleansing-nav-sec {
  margin: 0;
  color: #999;
}
.cleansing-nav-sec a {
  color: #999;
}
.cleansing-nav-sec input[type="radio"] {
  display: none;
}
.cleansing-nav-sec input[type="radio"] + label {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}
.cleansing-nav-sec input[type="radio"]:checked + label {
  border-bottom: 2px solid #000;
  color: #000;
}

.cleansing-nav-sec .con {
  display: none;
  padding: 0;
  border-top: 1px solid #ddd;
  background: #eee;
}
.cleansing-nav-sec input[id="mobile_tab_01"]:checked ~ .con_01 {
  display: block;
}
.cleansing-nav-sec input[id="mobile_tab_02"]:checked ~ .con_02 {
  display: block;
}
.cleansing-nav-sec input[id="mobile_tab_03"]:checked ~ .con_03 {
  display: block;
}
.cleansing-nav-sec input[id="tablet_tab_01"]:checked ~ .con_01 {
  display: block;
}
.cleansing-nav-sec input[id="tablet_tab_02"]:checked ~ .con_02 {
  display: block;
}
.cleansing-nav-sec input[id="tablet_tab_03"]:checked ~ .con_03 {
  display: block;
}
.cleansing-nav-sec .inner {
  display: inline-block;
  width: auto;
  margin: 1rem 2rem;
  font-size: 1.5rem;
}
.cleansing-nav-sec .focus {
  color: #000;
}
.cleansing-nav-sec .focus a {
  font-weight: 900;
  color: #000;
}

/* .cleansing-box-sec */

.cleansing-box-sec {
  margin: 0 auto 3rem;
  text-align: end;
}
.cleansing-box-sec select {
  margin: 2rem 0;
  border: none;
}

/* .philosophy-bn-sec */

.philosophy-bn-sec .bn {
  width: 100%;
  height: 30rem;
  background: url(../images/line_01.png) center fixed;
  background-size: cover;
}

@media (min-width: 576px) {
  /* best-section */

  .best-section .swiper-slide div {
    height: 30rem;
  }

  /* .product */

  .product .con {
    margin-bottom: 5rem;
  }
  .product .text {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
  .product .text li:nth-child(1) {
    font-size: 1.2rem;
  }
  .product .text li:nth-child(3) {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #999;
  }
  .product .text li:nth-child(4) {
    display: inline-block;
    margin-bottom: 0;
  }
  .product .text li:nth-child(5) {
    display: inline-block;
    font-weight: 600;
  }
  /* line-section */

  .line_tabs {
    width: 50rem;
    top: 9.75rem;
  }
  .line_tab-content {
    width: 540px;
    margin: 0 auto;
  }
  .line_bn {
    margin-top: 11.5rem;
  }
  .line_bn .content {
    padding: 4rem 0;
  }
  .line_bn .more {
    margin: 0 auto 4rem;
  }

  /* cleansing-nav-sec */

  .cleansing-nav-sec input[type="radio"] + label {
    padding: 2rem 2rem;
    font-size: 1.5rem;
  }

  .cleansing-nav-sec .swiper {
    padding: 1rem 0;
  }

  /* .cleansing-box-sec */

  .cleansing-box-sec {
    margin: 0 auto 5rem;
  }
  .cleansing-box-sec select {
    margin: 3rem 0;
  }
}
@media (min-width: 768px) {
  /* .line-section */

  .line_tabs {
    width: 60rem;
    top: 10.5rem;
  }
  .line_tab-content {
    width: 720px;
    padding: 0.8rem;
  }
  .line_bn {
    margin-top: 12rem;
  }
  .line_bn .swiper-slide {
    padding: 0.8rem;
  }
  .line_bn .content {
    padding: 5rem 0;
  }
  .line_bn .more {
    margin: 0 auto 5rem;
  }

  /* .cleansing-nav-sec */

  .cleansing-nav-sec a:hover {
    color: #000;
  }
}
@media (min-width: 992px) {
  /* .line-section */

  .line_bn {
    margin-top: 12.5rem;
  }
  .line_tabs {
    top: 11.25rem;
  }

  /* tv-section */

  .tv-section {
    padding: 0 10%;
  }
}
@media (min-width: 1200px) {
  /* line-section */

  .line_bn {
    margin-top: 13rem;
  }
  .line_bn .content {
    padding: 5rem 0 6rem;
  }
  .line_tabs {
    top: 12rem;
  }
  .line_tab {
    width: 33.33%;
  }
  .line_tab-content {
    width: 60rem;
    margin: 0 auto;
    transform: translateX(40%);
  }

  .tv-section {
    padding: 0 15%;
  }
  .tv-section .tv_poto {
    width: 33%;
  }
}
@media (min-width: 1400px) {
  /* line-section */

  .line_tab-content {
    transform: translateX(50%);
  }
}
